[Unit]
Description=Cage Wayland compositor
After=nginx.service
Requires=nginx.service

[Service]
ExecStart=/usr/bin/cage -- /usr/bin/chromium --kiosk http://localhost:8080/
Restart=always
User=pi

[Install]
WantedBy=graphical.target
